*, *::before, *::after {
    box-sizing: border-box;
}
#main-page {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    background-color: #f2d911;
    overflow: hidden; /*  Disable scrollbars */
    display: block;  /* No floating content on sides */
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

*{
    margin:0;
    text-align:center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h1{
    line-height: 200px;
    font-size: 25px;
    letter-spacing: 5px;
    /* font-family: 'Open Sans'; */
    font-style: smooth;
    font-weight: lighter;
    cursor: default;
}

p {
    font-size: 20px;
    letter-spacing: 3px;
    font-family: 'Open Sans';
    font-weight: lighter;
}

#float{
    position: absolute;
    color:white;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: default;
    
}

#flip{
    position: absolute;
    color:white;
    top:10%;
    right:30px;
    font-weight:1000;
    z-index: 1;
    font-size:17px;
    cursor: pointer;
    width: 3px;
    height: 17px;
    margin-left: 19px;
    margin-top: 12px;
    background-color: #f2d911;
    
}
/* ====== ME POPUP ======= */
.pop-up{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 50px;
    width: 80%;
    max-width: 700px;
    margin: auto;
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 40px;
    /* border-radius: 5px; */
    /* box-shadow: 0px 0px 40px #7b7c85; */
    background-color: #40445e;
    color: #fff;
}
.pop-up-content {
    height: 100%;
    overflow: auto;
    padding: 10px;
    padding-bottom: 100px;
}
.pop-up-content * {
    text-align: left;
} 
.text-center {
    text-align: center;
}
.pop-up-content::-webkit-scrollbar {
    width: 12px;
}

.pop-up-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255); 
    border-radius: 10px;
    background-color: #f2d911;
}

.pop-up-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #40445e;
}
.pop-up-content h2 {
    line-height: 4.5;
    font-weight: 700;
    color: white;
}
.pop-up-content p {
    line-height: 1.65;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 25px;
    text-align: left;
}
.pop-up-content p a {
    color: #939ad2;
    font-weight: bold;
}
.big-link {
    font-size: 24px;
    text-align: center;
    display: block;
    margin-top: 70px;
}
.margin-top-100 {
    margin-top: 200px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-100 {
    margin-bottom: 100px;
}

.pop-up-content h3 {
    line-height: 1.65;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 700;
    font-size: 22px;
    color: white;
}

.close-btn:hover {
    background-color: #c2af09;
}
.close-btn {
    position: absolute;
    right: 8px;
    top: 11px;
    font-size: 30px;
    z-index: 99;
    background: #f2d911;
    border: none;
    color: #40435f;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    outline: none;
    cursor: pointer;
}

.pop-up iframe {
    min-height: 315px;
    /* height: calc((100vw - 20%) / 2);
    max-height: 350px; */
}

.media {
    margin: 50px auto 30px;
}
.images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.images img {
    width: 100%;
    /* transition: 1s; */
}

/* ===== ADMIN PANEL ==== */
#admin-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 100px;
}
#post-nav {
    background-color: #05365c;
    padding: 5px;
    border-radius: 30px;
    margin-bottom: 80px;
    margin-top: 80px;
}
#post-nav .nav-tabs {
    border-bottom: none;
}
#post-nav .nav-link.active {
    color: #000;
    border-radius: 30px;
    padding: 8px 25px;
}
#spinner-body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
    z-index: 9999;
    position: fixed;
    width: 100vw;
}
#post-nav a {
    color: #fff;
}
@media (max-width: 768px) {
    .pop-up {
        width: 94%;
        padding: 5px;
    }
    .pop-up iframe {
        width: 90%;
        height: 305px;
        min-height: auto;
    }
}

@media (max-width: 500px) {
    .pop-up {
        width: 94%;
        padding: 5px;
    }
    .pop-up iframe {
        width: 80%;
        height: 205px;
        min-height: auto;
    }
}

@media (max-width: 400px) {
    .pop-up {
        width: 94%;
        padding: 5px;
    }
    .pop-up iframe {
        width: 310px;
        height: 175px;
        min-height: auto;
    }
}